body {
  /*background-image: url("https://s3.amazonaws.com/website-seneca/computer-coding.jpg");
  background-size: cover;
  color: white;*/
  background-color: gray;
}

#profilePic {
  height: 30%;
  width: 30%;
  float: left;
  margin-right: 50px;
}

#aboutText {
  margin-left: 20px;
  font-size: 15px;
}

.imgContainer {
  float: left;
  height: 100px;
  width: 100px;
  margin: 25px;

}

li {
  /*margin: 0;*/
  /*line-height: 50px;*/
  text-align: center;
  float: left;
  list-style-type: none;
  height: 50px;
  width: 50px;
}

#email {
  font-size: 10px;
  float: right;
}

.navbar {
  margin-bottom: 0;
}

.About {
  padding: 5%;
  padding-top: 70px;
}

.Skills {
  padding: 10%;
}

.Portfolio {
  padding: 10%;
}

.skillLinks {
  display: inline;
  padding-right: 100px;
  margin-left: 50px;

}

.portfolio {
  margin-right: 20px;
}

.Splash {
  margin: auto;
  text-align: center;
}

.emailBtn {

}

.social-icons {
    width: 25%;
    margin: auto;
}

.btn {
  margin: 50%;
}

.Splash {
  margin-top: 10%;
}
