body {
  background-image: url("https://s3.amazonaws.com/website-seneca/sunset.jpg");
  background-size: cover;
  color: black;
  background-repeat:no-repeat;
  min-height: 100%;
}

html {
  height: 100%;
}
/*/////////About Component//////////////*/
#profilePic {
  height: 15%;
  width: 15%;
}

#pupsPic {
  height: 12%;
  width: 12%;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
}

#sedonaFamilyPic {
  height: 12%;
  width: 12%;
  -webkit-transform: rotate(80deg);
  -moz-transform: rotate(80deg);
  -ms-transform: rotate(80deg);
  -o-transform: rotate(80deg);
  transform: rotate(-20deg);
}

#aboutText {
  margin: 25px;
  font-size: 25px;
  font-family: 'Rancho', cursive;
  /*font-family: 'Gloria Hallelujah', cursive;*/
}

#quote {
  font-family: 'Rancho', cursive;
  /*font-family: 'Gloria Hallelujah', cursive;*/
  font-size: 20px;
  margin: 25px;
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
}

#over {
  position:absolute;
  margin-top: 30px;
  text-align: center;
}

#Centerer {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.Centered {
  display: inline-block;
  vertical-align: middle;
}

#aboutMe {
  text-align: center;
  font-size: 50px;
  font-family: 'Rancho', cursive;
  /*font-family: 'Gloria Hallelujah', cursive;*/
}

.imgContainer {
  float: left;
  height: 100px;
  width: 100px;
  margin: 25px;
}

.About {
  padding: 1%;
}


/*/////////Contact Component//////////////*/
.socialLi {
  list-style-type: none;
  display:inline-block;
}

.social-icons {
  text-align: center;
}

.icons {
  font-size: 50px;
}

#email {
  font-size: 10px;
  float: right;
}

.emailBtn {
  margin-bottom: 18px;
  margin-left: 5px;
}

#emailLink {
  color: white;
}


/*/////////Skills Component//////////////*/
.Skills {
  /*padding-left: 10%;*/
  text-align: center;
  display:block;
  margin: 30px 200px 20px;
}

.skillHeader {
  margin-top: 35px;
  font-size: 50px;
  text-align: center;
  font-family: 'Rancho', cursive;
  /*font-family: 'Gloria Hallelujah', cursive;*/
}


/*/////////Portfolio Component//////////////*/
.Portfolio {
  padding: 10%;
  text-align: center;
}

.portfolio {
  margin-right: 20px;
}

/*/////////Splash Component//////////////*/
.Splash {
  margin-top: 10%;
  text-align: center;
}

#name {
  font-family: 'Rancho', cursive;
  /*font-family: 'Architects Daughter', cursive;*/
  font-size: 90px;
  /*font-family: 'Shadows Into Light', cursive;*/
  /*font-family: 'Great Vibes', cursive;*/
  /*font-family: 'Cherry Cream Soda', cursive;*/
  /*font-family: 'Gloria Hallelujah', cursive;*/

}

#title {
  font-size: 35px;
  font-family: 'Rancho', cursive;
  /*font-family: 'Gloria Hallelujah', cursive;*/

}

#content {
  padding-top: 70px;
  min-height: ~"calc(100vh - 92px)";
}

footer {
  border-radius: 0 !important;
  border-bottom: 0;*/
  background-color: yellow;
  margin: 213px 0 0;
  background-color: white;
}

.copyright {
  padding-top: @padding-small-horizontal / 2;
  padding-bottom: @padding-small-horizontal;
  color: black;
}

/*/////////Navbar Component//////////////*/
.navbar {
  min-height: 75px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  margin-top: 10px;
  font-size: 23px;
  font-family: 'Rancho', cursive;
  /*font-family: 'Gloria Hallelujah', cursive;*/
}

.navbar .navbar-collapse {
  text-align: center;
}

.logo {
  margin-top: 10px;
  font-size: 40px;
  font-family: 'Rancho', cursive;
  /*font-family: 'Gloria Hallelujah', cursive;*/
}
