/*body {
  background-image: url("https://s3.amazonaws.com/website-seneca/computer-coding.jpg");
  background-size: cover;
  color: white;
}*/

#profilePic {
  height: 20%;
  width: 20%;
}

.imgContainer {
  float: left;
  height: 100px;
  width: 100px;
  margin: 25px;

}

li {
  margin: 0;
  line-height: 50px;
  text-align: center;
  float: left;
  list-style-type: none;
}

#email {
  font-size: 10px;
  float: right;
}

.navbar {
  margin-bottom: 0;
}

.social-icons {
  padding: 25%;
}

.About {
  padding: 25%;
}

.Skills {
  padding: 10%;
}

.Portfolio {
  padding: 10%;
}
